@import "global";

header {
    margin-bottom: 40px;
}

article {
    margin-top: 40px;
}

.title {
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-decoration-thickness: .125em;
    text-underline-offset: 1.5px;

    a {
        @include linkBackground();
    }
}

.image {
    width: 100%;
}

.title {
    font-weight: bold;
}

.website {
    @include linkBackground();
}

.date {
    text-align: right;
}